.card-picture {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	box-shadow: 0px 20px 30px rgba(30, 30, 30, 0.5);
	border-radius: 8px;
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card-picture img {
	width: 460px;
	height: 300px;
	border-radius: 4px;
}

img {
    width: 100%;
    max-width: 450px;
}

